ansicon==1.89.0
arrow==1.2.2
asgiref==3.7.2
async-timeout==4.0.3
Babel==2.14.0
blessed==1.20.0
certifi==2024.2.2
cffi==1.16.0
channels==4.0.0

chardet==5.2.0
charset-normalizer==3.3.2
crispy-bootstrap5==0.6
cryptography==42.0.5
Django==4.2.11
django-allow-cidr==0.5.0
django-appointment==3.0.1
django-crispy-forms==1.13.0
django-debug-toolbar==4.3.0
django-mathfilters==1.0.0
django-paypal==2.0
django-phonenumber-field==7.3.0
django-picklefield==3.1

django-q2==1.6.2
django-storages==1.13.1
django-utils-six==2.0
django-widget-tweaks==1.5.0
fontawesomefree==6.4.2
idna==3.6
importlib_metadata==7.0.2
jinxed==1.2.1
msgpack==1.0.7
packaging==23.2
paypalrestsdk==1.13.3
phonenumbers==8.13.31
pillow==10.2.0
psycopg2==2.9.8
pycparser==2.21
pyOpenSSL==24.1.0
python-dateutil==2.9.0
python-dotenv==0.20.0
pytz==2023.3.post1
redis==5.0.1
reportlab==4.2.0
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
types-python-dateutil==2.8.19.20240106
typing_extensions==4.1.1
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
whitenoise==6.6.0
zipp==3.18.1
