{% extends 'main/admin_base.html' %}
{% load static %}
{% block title %}Add Feedback{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-xl-8 mb-4">
      <div class="card card-sm mb-4 h-100 d-flex flex-column mb-4">
        <div class="card-body">
            <img src="{% static 'images/agri2.jpeg' %}" class="card-img-top" alt="Cassava Harvest Image">
            <p>The Work Force Management system is envisioned as a comprehensive platform that bridges the gap between agricultural talent and customers, offering a wide array of services within the agriculture sector. From Agricultural equipment operators to Nursery and greenhouse farmworkers, the system aims to cater to the diverse needs of the agricultural community. The system is designed to facilitate the seamless matching of skilled workers with the appropriate services, ensuring that the right skills are directed to the right tasks.This end-to-end management of the service delivery process ensures that both workers and customers are provided with a smooth and efficient experience.</p>
              
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
