{% extends 'main/admin_base.html' %}
{% block title %}Create Payment{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-xl-8 mb-4">
            <div class="card card-sm mb-4 h-100 d-flex flex-column mb-4">
                <div class="card-body">
                    <h2 class="card-header text-success md-3">Worker Payments</h2>
                    <br>
                    <form id="paymentworkerForm" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success" >Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // This code ensures that when the "Save" button is clicked, the form is submitted.
    // You don't need this if you're not performing any additional actions before submitting the form.
    document.getElementById('paymentworkerForm').addEventListener('submit', function(event) {
        // Prevent the default form submission behavior
        event.preventDefault();
        
        // Submit the form programmatically
        this.submit();
    });
</script>

{% endblock %}
