{% extends 'main/worker_base.html' %}
{% load static %}
{% block title %}Add Feedback{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-xl-8 mb-4">
      <div class="card card-sm mb-4 h-100 d-flex flex-column mb-4">
        <div class="card-body">
            <img src="{% static 'images/worker.jpg' %}" class="card-img-top" alt="Cassava Harvest Image">
            <p>A worker is a vital contributor within an organization, responsible for executing tasks essential to its operations. Whether in manufacturing, service provision, or administration, workers perform assigned duties efficiently to meet objectives. They collaborate with team members and adhere to quality and safety standards while maintaining a focus on productivity. Workers communicate effectively, follow procedures, and adapt to changing requirements, ensuring tasks are completed accurately and on time. With a commitment to continuous improvement, they identify opportunities for efficiency gains and contribute to the organization's success through their dedication, skills, and teamwork. A high school diploma or equivalent, along with relevant experience and a strong work ethic, characterizes these essential members of the workforce.</p>
              
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
